body{
   font-family: 'SourceSansPro-Regular' !important;
}
.body_bg {
		background:#ffffff url(../imgs/fundo_menu2.jpg) top center no-repeat;
		margin: 0;
		position: fixed;
		width: 100%;
		height: 100%;
		overflow: hidden;
                background-size: cover;
}

@font-face{ 
	font-family: 'SourceSansPro-Regular';
	src: url('font/SourceSansPro-Regular.eot');
	src: url('font/SourceSansPro-Regular.eot?#iefix') format('embedded-opentype'),
	     url('font/SourceSansPro-Regular.woff') format('woff'),
	     url('font/SourceSansPro-Regular.ttf') format('truetype'),
	     url('font/SourceSansPro-Regular.svg#webfont') format('svg');
}

.start-menu{
	margin: 5px;       
        text-align: center;
        font-size:12px;
        width:50%;
        height:100px;
        background: rgba(255, 255, 255, .5);
}

.start-menu img{
	width:80px;
        height:80px;
        margin-top:10px;
}

@media (min-height: 200px) and (max-height: 320px){
   .start-menu{
	margin: 5px;       
        margin-left: 5px;
        text-align: center;
        font-size:12px;
        width:50%;
        height:80px;
        background: rgba(255, 255, 255, .5);
   }
   .start-menu img{
	width:70px;
        height:70px;
        margin-top:10px;
   }         
}


.open-favoritos{
	position: absolute;
        top: 95px;
	width: 90px;
	height: 90px !important;
	background-image: url(../imgs/icons/favoritos-retina.png) !important;

}

.open-ajuda{
	position: absolute;
        top: 190px;
	width: 90px;
	height: 90px !important;
	background-image: url(../imgs/icons/ajuda-retina.png) !important;

}

.capa{
        margin-right:30px;
        max-height:90%;
}

.texto-capa{
      margin-right:30px;
      width: 250px;
      text-align:center;
      font-size:14px;
      text-transform:uppercase;
      font-family: 'robotomedium';
}

.about{
   padding-top: 45px !important;
   background: #FFFFFF !important;
}

.favoritos{
   margin-left: 10px !important;
}

.help{
   padding-top: 45px !important;
   background: #FFFFFF !important;
}


.header {
	height: 60px;
	width: 100%;
	background: #054667;
	border-bottom-width:0!important;
	position: absolute;
        z-index: 2;
}

.header2 {
	height: 50px;
	width: 60px;
        right: 0;
        left: 0;
        margin: auto;
	background: transparent;
        border-bottom-width:0!important;
	position: absolute;
        z-index: 2;
}

.header3 {
	height: 100px;
	width: 100%;
	background: transparent;
        border-bottom-width:0!important;
	position: absolute;
       
}

.header4 {
	background: transparent;
        border-bottom-width:0!important;
}

.right_bar {
	height: 150px !important;
        width: 60px !important;
        bottom: auto;
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
	background: transparent;
	border-left-width:0!important;    
}

.right_bar2 {
	height: 100px !important;
        width: 60px !important;
        bottom: auto;
        position: absolute;
        right: 0;
        top: 55px;
        bottom: 0;
        margin: auto;
	background: transparent;
	border-left-width:0!important;
}

.pesquisa{
   padding-top: 60px !important;
   background: #012f46;
}

.pesquisa2{
   /*padding-top: 60px !important;*/
   background: #012f46;
}

.menuI{
   padding-top: 60px !important;
   padding-bottom: 60px !important;
}

.open-menu5{
	position: absolute;
        top: 47px;
	width: 45px;
	height: 45px !important;
        font-size: 22px !important;
        text-align: -webkit-center !important;
        background: #FFFFFF !important;
}

.open-menu6{
	position: absolute;
	width: 45px;
	height: 45px !important;
        font-size: 22px !important;
        text-align: -webkit-center !important;
        background: #FFFFFF !important;
}



.open-menu7{
	position: absolute;
        top: 94px;
	width: 45px;
	height: 45px !important;
        font-size: 22px !important;
        text-align: -webkit-center !important;
        background: #FFFFFF !important;
}

/*.open-menu8{
	position: absolute;
	width: 45px;
	height: 45px !important;
        font-size: 22px !important;
        text-align: -webkit-center !important;
        background: #000000 !important;
}*/

.open-menu9{
	position: absolute;
        /*top: 47px;*/
	width: 45px;
	height: 45px !important;
        font-size: 22px !important;
        text-align: -webkit-center !important;
        background: #000000 !important;
}

.open-menu10{
	position: absolute;
        top: 47px;
	width: 45px;
	height: 45px !important;
        font-size: 22px !important;
        text-align: -webkit-center !important;
        background: #000000 !important;
}

.myBox
{
        z-index: 20 !important;              
}

.foot {
	height: 65px;
	/*width:210px;*/
	background: #033148;
        border-top-width:0!important;
        z-index: 2;
        position:absolute;
	bottom:0;
	top:auto;
        right: 0;
        left: -7px;
        margin: auto;
}
.menu3 {
	width:100%;
        bottom:0px !important;
}


.menu4 {
        position:absolute;
}

.lista-extras{
        background: rgba(255,255,255, 1);
        position:absolute;
        width: 100%;
        height: auto !important;
        top: 0;
        z-index: 10;
}

.btn-extras{
        background:#000000;
        color:#FFFFFF;
        width: 75px;
        padding: 5px 10px;
        font-size: 14px !important;
}

.pop-produto{
        background: rgba(255,255,255, 0.9);
        position:absolute;
        width: 100%;
        height: auto !important;
        top: 0;
        z-index: 10;
}

.pop-image{
        background: rgba(255,255,255, 0.6);
        position:absolute;
	bottom: 100px !important;
        width: 100%;
        height: auto !important;
        top: 0;
        z-index: 10;
}

.pop-up{
        margin:20px;
        margin-right: 60px !important;
        font-size: 14px;
}

.pop-up img{
        margin-top:40px;
        max-width:50%;
        max-height:25%;
}

.italbox{
        margin:20px;
        margin-top: 0px !important;
   
}

.italbox p{
        font-size: 16px;
        text-justify:inter-word;
}

.italbox img{
        max-width:100%;
}

/*.teste{
   height:  80%;
}*/

.favorites
{
   padding-top: 60px;
}

.barraTab
{
       /* margin-top: 50px !important;*/
       /* border-bottom: 3px solid #000000 !important;*/
        background: #02354f !important;
       /* height: 35px !important;*/
       height: 50px !important;
}

.barraTab2
{
        border-bottom: 3px solid #000000 !important;
        background: transparent !important;
        height: 35px !important;
}

.barraPesquisa
{
        background: #012f46 !important;
        border-bottom: 3px solid #012f46 !important;
}

.barraPaginas
{
        background: transparent !important;
        border-bottom: 3px solid #000000 !important;
        height: 50px;
}

.search{
        border-radius: 0px !important;             
}

.search input::-webkit-input-placeholder {
        color: #FFF !important;
}  

.tabPaginas{
        background:#ffffff url(../imgs/fundo_menu2.jpg) top center no-repeat;
}

.tabCaixilharia{
        /*background: transparent !important;*/
        background:#ffffff url(../imgs/fundo_caixilharia.jpg) top center no-repeat;
        background-size: cover;
}
.tabVidro{
        background:#ffffff url(../imgs/fundo_vidro.jpg) top center no-repeat;
        background-size: cover;
}
.tabExtrusao{
        background:#ffffff url(../imgs/fundo_extrusao.jpg) top center no-repeat;
        background-size: cover;
}
.tabTratamento{
        background:#ffffff url(../imgs/fundo_tratamento.jpg) top center no-repeat;
        background-size: cover;
}


.lista{
        margin-top: 45px;
        text-align: center;
        height: 400px;
}

@media (min-height: 1px) and (max-height: 320px){ 

.lista{
    margin-top: 45px;
    text-align: center;
    height: 250px;
}
.texto-capa{
      margin-right:15px;
      width: 150px;
      text-align:center;
      font-size:11px;
      text-transform:uppercase;
      font-family: 'robotomedium';
      
}
.capa{
        margin-right:20px;
        height:200px;
}
.pop-up{
   margin:20px;
   font-size: 10px;
}

.pop-up img{
     margin-top:40px;
     max-width:50%;
     max-height:40%;
}
}

@media (min-height: 321px) and (max-height: 450px){ 

.lista{
    margin-top: 45px;
    text-align: center;
    height: 300px;
}
.texto-capa{
      margin-right:20px;
      width: 170px;
      text-align:center;
      font-size:12px;
      text-transform:uppercase;
      font-family: 'robotomedium';
      
}
.capa{
        margin-right:20px;
        height:250px;
}
}

@media (min-height: 580px) and (max-height: 699px){ 

.lista{
    margin-top: 45px;
    text-align: center;
    height: 500px;
}
.texto-capa{
      margin-right:20px;
      width: 300px;
      text-align:center;
      font-size:15px;
      text-transform:uppercase;
      font-family: 'robotomedium';
      
}
.capa{
        margin-right:30px;
        height:450px;
}
}

@media (min-height: 700px){


.lista{
    margin-top: 45px;
    text-align: center;
    height: 600px;
}
.texto-capa{
      margin-right:30px;
      width: 370px;
      text-align:center;
      font-size:17px;
      text-transform:uppercase;
      font-family: 'robotomedium';
      
}
.capa{
        margin-right:50px;
        height:550px;
}

}


.lista2{
        background: #FFFFFF;
        border-top: 3px solid black;
	width:100%;
        text-align: center;            
}

.logotipo{
	display: block;
	margin: auto;
        margin-bottom: 2px;
	padding: 13px;
	width: 150px;
	height: 34px;
	background: url(../imgs/logotipo-retina.png) no-repeat center;
        background-size: 150px 34px;
}

.close{
	top: 0;
	width: 45px;
	height: 45px;
        font-size: 21px !important;
        text-align: -webkit-center !important;
}

.open-menu{
	top: 0;
	right: 0px;
	position: absolute;
	width: 60px;
	height: 60px !important;
        font-size: 30px !important;
        text-align: -webkit-center !important;

}

.open-menu2{
	top: 0;
	right: 40px;
	position: absolute;
	width: 45px;
	height: 45px !important;
        font-size: 23px !important;
        text-align: -webkit-center !important;
}

.open-menu3{
	top: -4px !important;
        right: 0 !important;
        left: 0 !important;
	width: 45px !important;
	height: 45px !important;
        margin: 0;
        font-size: 22px !important;
        text-align: -webkit-center !important;
        background: #FFFFFF !important;
}

.open-menu4{
        /*bottom: -4px !important;*/
        /*right: 0 !important;
        left: 0 !important;*/
	width: 50% !important;
	height: 65px !important;
        margin-right:  0 !important;
        color: #FFFFFF !important;
        background: #033148 !important;
}

.open-menu4_2{
        /*bottom: -4px !important;*/
        /*right: 0 !important;
        left: 0 !important;*/
	width: 50% !important;
	height: 65px !important;
        margin-left:  0 !important;
        color: #FFFFFF !important;
        background: #054667 !important;
}

.open-menu5{
        /*bottom: -4px !important;*/
        /*right: 0 !important;
        left: 0 !important;*/
	width: 50% !important;
	height: 75px !important;
        margin: 0;
        color: #000000 !important;
        background: #FFFFFF !important;
}

.close-menu4{
	bottom: -4px !important;
        right: 0 !important;
        left: 0 !important;
	width: 200px !important;
	height: 45px !important;
        margin: 0;
        color: #000000 !important;
        background: #FFFFFF !important;
        background-image: none !important;
        background-color: none !important;
}

.back{
	top: 0;
	left: 0px;
	position: absolute;
	width: 60px;
	height: 60px !important;
        font-size: 32px !important;
        text-align: -webkit-center !important;
}

.front{
   transform: scaleX(-1);
   -moz-transform: scaleX(-1);
   -webkit-transform: scaleX(-1);
   -ms-transform: scaleX(-1);
   float: right;
   margin-right: 5px;
}

.remove{
  position: absolute;
  margin-top: 1px;
  margin-left: -23px;
  font-size: 23px !important;
}

.lista-pesquisa div {
	font-size:14px;
        text-transform:uppercase;
        /*font-family: 'robotomedium';*/
}

.lista-pesquisa span {
	font-size:19px;
       /* font-family: 'robotomedium';*/
        color: #FFF;
}

.header > .search{
	top: 0;
	right: 55px;
	position: absolute;
	width: 45px;
	height: 45px;
	background-image: url(../imgs/icons/search.png);
}

.seta-baixo {
	width: 45px;
	height: 45px;
	background: url(../imgs/icons/seta-baixo.png) #ffffff;
	margin: auto;
	z-index:3;
	margin: auto;
	position: absolute;
	left: 0;
	right: 0;
}

#imgs{
	position: absolute;
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 440px;
	width: 1000px;
}

.lista-catalogos li {
	float: left;
	list-style-type:none;
	margin: 20px;
	width: 270px;
	text-align: center;
	font-size: 14px;
}

.lista-catalogos div {
	padding-bottom: 10px;
	margin-bottom: 25px;
}

.lista-catalogos span {
	padding-top: 10px;
}

#catalogo {
	position: absolute;
	left: 0;
	top: 0;
}

.lista-paginas{
	padding: 0px;
	margin: 0px;
	overflow: hidden;
}


.lista-paginas li {
	float: left;
	list-style-type:none;
	margin: 0px;
	text-align: center;
	font-size: 14px;
}

.lista-paginas>li>img {
	margin:auto;
	top: 0;
	bottom: 0;
	display: block;
}


.fundo-menu {
    /* Fallback for web browsers that don't support RGBa */
    background-color: rgb(255, 255, 255);
    /* RGBa with 0.6 opacity */
    background-color: rgba(255, 255, 255, 0.8);
    /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFFFFFFF, endColorstr=#FFFFFFFF);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFFFFFFF, endColorstr=#FFFFFFFF)";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    display: none;
}

.fundo-menu > .fechar{
	top: 0;
	right: 10px;
	position: absolute;
	width: 45px;
	height: 45px;
	background-image: url(../imgs/icons/menu.png);
}

.menu {
	position: absolute;
	font-size: 12px;
	left: 0;
	right: 0;
	bottom: 0;
	margin:auto;
}

.menu ul {
	padding: 0px;
}

.menu li {
	border-top: solid; 1px;
	list-style-type: none;
	padding: 15px 10px 13px 60px;
        
}

.menu li:hover {
	color: #FFFFFF !important;
}

.menu li.menu-italbox {
	/*background: url(../imgs/icons/italbox.png) no-repeat ;*/
        
}
.menu li.menu-catalogos {
	/*background: url(../imgs/icons/catalogos.png) no-repeat ;*/
}

.menu li.menu-favoritos {
        padding-left: 59px !important;
}
.menu li.menu-language {
	/*background: url(../imgs/icons/language.png) no-repeat ;*/
}
.menu li.menu-ajuda {
	border-bottom: solid; 1px;
}

.menu li.menu-italbox:hover {
        background-color: #000 ;
	color: #FFFFFF;
	transition: 0.5s;
	-webkit-transition: 0.5s;
}

.menu li.menu-catalogos:hover {
        background-color: #000 ;
	color: #FFFFFF;
	transition: 0.5s;
	-webkit-transition: 0.5s;
}

.menu li.menu-favoritos:hover {
        background-color: #000 ;
	color: #FFFFFF;
	transition: 0.5s;
	-webkit-transition: 0.5s;
}
.menu li.menu-language:hover {
        background-color: #000 ;
	color: #FFFFFF;
	transition: 0.5s;
	-webkit-transition: 0.5s;
}
.menu li.menu-ajuda:hover {
        background-color: #000 ;
	color: #FFFFFF;
	transition: 0.5s;
	-webkit-transition: 0.5s;
        border-bottom: solid; 1px;
}

.menuL {
	position: absolute;
	font-size: 12px;
	left: 0;
	right: 0;
	bottom: 0;
	margin:auto;
}

.menuL ul {
	padding: 0px;
}

.menuL li {
	border-top: solid; 1px;
	list-style-type: none;
	padding: 20px 10px 16px 0px;
        
}

.menuL li:hover {
	color: #FFFFFF !important;
}

.menuL li.menu-portugues {
	
        
}
.menuL li.menu-english {
	
}

.menuL li.menu-francais {
	
}
.menuL li.menu-castellano {
	border-bottom: solid; 1px;
}

.menuL li.menu-portugues:hover {
        background-color: #000 ;
	color: #FFFFFF;
	transition: 0.5s;
	-webkit-transition: 0.5s;
}

.menuL li.menu-english:hover {
        background-color: #000 ;
	color: #FFFFFF;
	transition: 0.5s;
	-webkit-transition: 0.5s;
}

.menuL li.menu-francais:hover {
        background-color: #000 ;
	color: #FFFFFF;
	transition: 0.5s;
	-webkit-transition: 0.5s;
}
.menuL li.menu-castellano:hover {
        background-color: #000 ;
	color: #FFFFFF;
	transition: 0.5s;
	-webkit-transition: 0.5s;
        border-bottom: solid; 1px;
}

@media  
only screen and (-webkit-min-device-pixel-ratio: 2),  
only screen and ( min--moz-device-pixel-ratio: 2),  
only screen and ( -o-min-device-pixel-ratio: 2/1),  
only screen and ( min-device-pixel-ratio: 2),  
only screen and ( min-resolution: 192dpi),  
only screen and ( min-resolution: 2dppx) {
    /* Retina-specific stuff here */
    .body_bg {
        background:#ffffff url(../imgs/fundo_menu2.jpg) top center no-repeat;
        background-size: cover;
    }
}

@media screen and (min-width:768px) {
      .body_bg {
	 background:#ffffff url(../imgs/fundo_web3.jpg) top center no-repeat;
         background-size: cover;
      }
      .tabCaixilharia{
        /*background: transparent !important;*/
        background:#ffffff url(../imgs/fundo_caixilharia_web.jpg) top center no-repeat !important;
        background-size: cover !important;
      }
      .tabVidro{
       background:#ffffff url(../imgs/fundo_vidro_web.jpg) top center no-repeat !important;
       background-size: cover !important;
      }
      .tabExtrusao{
        background:#ffffff url(../imgs/fundo_extrusao_web.jpg) top center no-repeat !important;
        background-size: cover !important;
      }
      .tabTratamento{
       background:#ffffff url(../imgs/fundo_tratamento_web.jpg) top center no-repeat !important;
       background-size: cover !important;
      }
}

.x-msgbox .x-button {
    background-image: none !important;
    background-color : #000 !important; 
    color: #FFF !important;
}

.x-msgbox
{
    background-color: transparent !important;
    border: 0 !important;
    -webkit-box-shadow: none !important;
}

.x-msgbox-dark .x-msgbox-text {
    color: #000 !important;
    font-size: 14px;
    font-family: 'robotomedium' !important;
    text-shadow: none !important;
}

.x-toolbar-dark .x-title {
    color:#000 !important;
    font-size: 20px !important;
    font-family: 'robotomedium' !important;
}

.x-button {
  border-radius:0em !important;
}

.x-msgbox.x-floating {
  -webkit-border-radius: 0em !important; 
  border-radius: 0em !important;
}

.x-mask {
  background: rgba(255, 255, 255, 0.8) center center no-repeat !important;
}

.x-tabbar-dark.x-docked-top .x-tab-active {
   color: #000000 !important;
   background: transparent;
   border: none !important;
   border-bottom: 4px solid #000000 !important;
   border-radius: 0px !important;
}

.x-tabbar-dark.x-docked-bottom .x-tab-active {
/*background-image: none;
background-color: #0b3c5e;
background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #061f31), color-stop(10%, #092e47), color-stop(65%, #0b3c5e), color-stop(100%, #0c3e60));
background-image: -webkit-linear-gradient(top, #061f31,#092e47 10%,#0b3c5e 65%,#0c3e60);
background-image: linear-gradient(top, #061f31,#092e47 10%,#0b3c5e 65%,#0c3e60);
text-shadow: rgba(0, 0, 0, 0.5) 0 -0.08em 0;
-webkit-box-shadow: #092e47 0 0 0.25em inset;
box-shadow: #092e47 0 0 0.25em inset;*/
   color: #00aeef !important;
   background: transparent;
   border: none !important;
  /* border-bottom: 4px solid #000000 !important;*/
   border-radius: 0px !important;
   /*width: 50% !important;*/
}

.x-tabbar-dark.x-docked-bottom .x-tab {
text-shadow: rgba(0, 0, 0, 0.5) 0 -0.08em 0;
width: 25% !important;
}

#ext-tab-1{
background: #02354f;
color: #fff;
padding-top: 8px;
border-radius: 0px;
}
#ext-tab-2{
background: #022e45;
color: #fff;
padding-top: 8px;
border-radius: 0px;
}
#ext-tab-3{
background: #02354f;
color: #fff;
padding-top: 8px;
border-radius: 0px;
}
#ext-tab-4{
background: #022e45;
color: #fff;
padding-top: 8px;
border-radius: 0px;
}

.x-tabbar-dark .x-tab {
   /*color: #000000 !important;*/
}

.x-toolbar .x-field-search .x-component-outer {
   -webkit-border-radius: 0px !important;
   border-radius: 0px !important;
   -webkit-box-shadow: none !important;
   border: 2px solid #012f46 !important;
}

.x-toolbar .x-field-search .x-component-outer {
   -webkit-border-radius: 0px !important;
   border-radius: 0px !important;
}

.x-list .x-list-item {
   background: #033c59;
}

.x-list .x-list-item.x-item-selected .x-list-item-label {
   background-image: #CCCCCC !important;
   background: #CCCCCC !important;
   color : #000000 !important;
   border-top-color: #000000 !important;
   border-bottom-color: #000000 !important;
}

.x-list-normal .x-list-item.x-item-pressed .x-list-item-label {
   border-top-color: #012f46 !important;
   background-color: #012f46 !important;
}

.x-list-normal .x-list-item .x-list-item-label {
   border-top: 1px solid #054667;
}

.x-toolbar .x-field {
   width: 98% !important;
   margin: .5em;
   min-height: 0;
   border-bottom: 0;
   background: #000000 !important;
}

.x-toolbar .x-form-field {
   height: 1.6em;
   color: #FFFFFF !important;
   background: transparent;
   min-height: 0;
   -webkit-appearance: none;
   padding: 0em .3em;
   margin: 0;
}

.x-toolbar .x-field-search .x-component-outer {
   background-color: #012f46 !important;
}

.x-toolbar .x-field .x-clear-icon {
   left: auto !important;
   right: -0.8em !important;
}

.x-field-search .x-field-input:before {
   background-color: #FFFFFF !important;
   left: 0.2em;
}

.x-field-input .x-clear-icon {
   background: url(../imgs/icons/delete2.png) no-repeat !important;
   background-position: center center;
   top: 65% !important;
}

.x-list-normal .x-list-item:last-child .x-list-item-label {
   border-bottom: 1px solid #054667 !important;
}

.x-button.x-button-plain.x-button-pressing, .x-button.x-button-plain.x-button-pressed, .x-toolbar .x-button.x-button-plain.x-button-pressing, .x-toolbar .x-button.x-button-plain.x-button-pressed {
   background: none;
   background-image: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 24, color-stop(0%, rgba(192,192,192,0.4)), color-stop(100%, rgba(192,192,192,0)));
   background-image: -webkit-radial-gradient(rgba(192,192,192,0.4),rgba(192,192,192,0) 24px);
   background-image: radial-gradient(rgba(192,192,192,0.4),rgba(192,192,192,0) 24px);
}

.x-android .x-input-el {
   -webkit-text-fill-color: #FFF !important;
}

.x-android .x-empty .x-input-el {
   -webkit-text-fill-color: #FFF !important;
}

